<ion-header>
  <ion-toolbar>
<!--    <ion-buttons slot="start" *ngIf="chatContentType === '0'">-->
<!--      <ion-back-button icon="caret-back"></ion-back-button>-->
<!--    </ion-buttons>-->
<!--    <ion-buttons slot="start" *ngIf="chatContentType === '1'">-->
<!--      <ion-back-button icon="caret-back"></ion-back-button>-->
<!--    </ion-buttons>-->

    <ion-buttons slot="start">
      <ion-back-button icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title>쳇방 제목~~~~</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <app-chat-list></app-chat-list>
</ion-content>
