ion-col {
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
}
ion-row {
  height: 200px;
}
ion-list {
  background: none;
  --border-color: none;
  --border-style: none;
  --border-width: none;
}
