.ripple-parent {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;

  border: 1px solid #ddd;

  user-select: none;

  width: 100%;
  border-radius: 8px;
}

/* 넓이가 767px 이하일 때 */
@media all {
  .tab1-title {
    position: absolute;
    top: 100px;
    height: 84px;
    margin-left: 20px;
  }
  .card-view {
    position: absolute;
    top: 200px;
    margin-left: 20px;
    width: 100%;
  }
}
@media (max-width:380px){
  .tab1-title {
    position: absolute;
    top: 70px;
    height: 62px;
    height: 62px;
    margin-left: 20px;
  }
  .card-view {
    position: absolute;
    top: 160px;
    margin-left: 20px;
    width: 100%;
  }
}

@media (max-width:380px){
  .tab1-title {
    position: absolute;
    top: 70px;
    height: 62px;
    height: 62px;
    margin-left: 20px;
  }
  .card-view {
    position: absolute;
    top: 160px;
    margin-left: 20px;
    width: 100%;
  }
}


@media (max-height:700px){
  .tab1-title {
    position: absolute;
    top: 70px;
    height: 52px;
    height: 52px;
    margin-left: 20px;
  }
  .card-view {
    position: absolute;
    top: 140px;
    margin-left: 20px;
    width: 100%;
  }
}
