<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-buttons slot="start">-->
<!--      <ion-back-button icon="caret-back"></ion-back-button>-->
<!--    </ion-buttons>-->
<!--    <ion-title>{{rstInfo.name}}</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->
<ion-content [fullscreen]="true">
<div class="ion-content-scroll-host">
  <div style="position: relative;">
    <div class="font23" (click)="back()"
         style="position: absolute; margin-left: 20px; margin-top: 10px; z-index: 100">
      <i class="fa-solid fa-caret-left"></i>
    </div>
  </div>
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" *ngFor="let image of images">
        <img alt="rhino standing near grass"
             onerror="this.src='/assets/image/noimage.jpg'"
             [src]="initImage(image.filename)" />
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="mgl15 mgr15  MAT20">
    <div style="display: flex; align-items: flex-end; margin-bottom: 10px;">
      <div class="font23 bold">{{rstInfo.name}}</div>
      <div class="font16 gray">(1km)</div>
    </div>
    <div class="font16 gray" style="margin-bottom: 10px; margin-top: -11px;">
      {{rstInfo.representativeMenu}} 전문점
    </div>
    <div *ngFor="let menu of renderMainMenu(rstInfo.menus)"
         style="margin-bottom: 10px;">
    </div>
    <div  class="font16">{{rstInfo.roadAddress}}</div>
    <div  class="font16">{{rstInfo.jibunAddress}}</div>
    <div  class="font16" style=" margin-bottom: 10px;">{{rstInfo.englishAddress}}</div>
    <div class="font16 gray bold">
      대표메뉴
    </div>
    <div  class="font16" style="" *ngFor="let menu of renderMenu(rstInfo.menus)">
      - [음식량 - {{menu.menuAmount}}]{{menu.name}} {{menu.price}}원
    </div>
    <div class="font16 gray bold">
      AI 요약후기
    </div>
    <div  class="font16" style="" *ngFor="let review of renderReView(rstInfo.reViews)">
      - {{review.content}}
    </div>
    <div style="margin-bottom: 10px;"></div>
    <div style="margin-top:30px; display: flex; align-items: center; justify-content: space-between;">
      <div class="font20">모임 정보</div>
      <ion-nav-link
        class="ion-activatable">
        <app-rst-button [text]="'생성하기'" (click)="enterTasteRoom(rstInfo.id)"></app-rst-button>
      </ion-nav-link>
    </div>
    <app-taste-room-list [tasteRoomList]="rstInfo.tasteRooms"></app-taste-room-list>
  </div>
</div>
</ion-content>
