<div #rstInfoEle style="overflow: auto; background-color: white">
  <div style="display: flex; flex-direction: column">
    <div style="position: relative;">
      <div style="width: 100%;
                  position: absolute;
                  display: flex;
                  justify-content: space-between;
                  background: linear-gradient(to bottom, rgba(58,58,58,0.77), rgba(0, 0, 0, 0));
                  height: 60px;">
        <img style="margin-left: 20px; margin-top: 20px; width: 20px; height: 20px;" src="/assets/image/Vector_5.svg" (click)="back()">
        <app-like-button class="MAR20 MAT20" [isHeartRegular]="rstInfo.liked" (onClick)="onClick($event)" ></app-like-button>
      </div>
      <ng-container>
        <div class="m-font bold" #txtEle style="display: none; width: 100%; height: 360px;
        align-items: center; justify-content: center; background-color: #F8F8F8">
          이미지 로드에 실패했습니다.
        </div>
        <img
          #imgEle
          src="/assets/image/Rectangle_2380.png"
          style="width: 100%;"
          (error)="onError(imgEle, txtEle, $event)"
        >
      </ng-container>
    </div>


    <div style="margin-top: 30px; margin-left: 20px; margin-right: 20px;">
      <div
        style="width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center">
        <div class="bold b-font">
          {{rstInfo.name}}
        </div>
        <div class="m-font" style="color: #585B5E">식사</div>
      </div>
      <div class="m-font" style="margin-top: 10px; color: #585B5E">
        생막창이 끝내주는 경대 북문 막창 맛집
      </div>
      <div class="MAT20 MAB20" style="border: 1px solid #F3F6FB; transform: scaleY(0.5)">
      </div>
      <div class="r-font" (click)="onCopy(rstInfo.roadAddress)">
        <div style="display: flex; width: 100%;">
          <img src="/assets/image/mdi_map-marker-black.svg">
          {{rstInfo.roadAddress}}
          <div class="MAL15" style="display: flex; color: #838895">
            <img style="width: 15px;" src="/assets/image/material-symbols_content-copy-outline.svg">
            <div class="r-font" style="width: 80px;">
              복사하기
            </div>
          </div>
        </div>
      </div>
      <div class="l-font MAL25" style="color: #B0B5BC; display: flex; align-items: center;">
        내 위치에서 {{rstInfo.distance | number: '1.1-2'}}KM 이내
      </div>
      <div class="ion-activatable ripple-parent l-font MAB30"
           style="border: 1px solid #60CE6B;
          height: 40px;
          border-radius: 5px;
          color: #5ECC69;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 20px;" (click)="moveLink()">
        네이버에서 상세정보 보기
        <img src="/assets/image/material-symbols_arrow-outward.svg">
        <ion-ripple-effect style="height: 40px;"></ion-ripple-effect>
      </div>
    </div>
  </div>
  <div class="PAT30 PAB30 PAR20" style="color: #000000; background-color: #F7F8FA">
    <div class="m-font bold MAB30 PAL20">
      근처의 다른 핫플
    </div>
    <cdk-virtual-scroll-viewport #hotPlaceEle itemSize="50" class="viewport BATB10">
      <div matRipple class="PAT10 PAB10 PAL20" style="display: flex; align-items: center;"
            *cdkVirtualFor="let item of nearRst" (click)="initRstInfo(item.id)">
        <img src="/assets/image/Rectangle_380.png" style="border-radius: 20%; width: 65px; height: 65px;">
        <div class="m-font semi-bold" style="color: #000000; margin-left: 15px;">
          {{item.name}}
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
    <div class="ion-activatable ripple-parent l-font"
         style="
          height: 40px;
          color: white;
          border-radius: 5px;
          background-color: black;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 20px;
          margin-bottom: 60px;" (click)="moveMap()">
      지도에서 주변 맛집정보 보기
      <ion-ripple-effect style="height: 40px;"></ion-ripple-effect>
    </div>
  </div>
</div>
