<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-buttons slot="start">-->
<!--      <ion-back-button icon="caret-back"></ion-back-button>-->
<!--    </ion-buttons>-->
<!--    <ion-title>{{rstInfo.name}}</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->
<ion-content [fullscreen]="true">
<div class="ion-content-scroll-host">
  <div style="position: relative;">
    <div class="font23" (click)="back()"
         style="position: absolute; margin-left: 20px; margin-top: 10px; z-index: 100">
      <i class="fa-solid fa-caret-left"></i>
    </div>
  </div>
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img alt="rhino standing near grass" src="https://images.unsplash.com/flagged/photo-1556983257-71fddc36bc75?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80" />
      </div>
      <div class="swiper-slide">
        <img alt="brown sea turtle in water" src="https://images.unsplash.com/photo-1573551089778-46a7abc39d9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80" />
      </div>
      <div class="swiper-slide">
        <img alt="giraffe sticking its tongue out" src="https://images.unsplash.com/photo-1577114995803-d8ce0e2b4aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1746&q=80" />
      </div>
      <div class="swiper-slide">
        <img alt="two grey elephants on grass plains during sunset" src="https://images.unsplash.com/photo-1564760055775-d63b17a55c44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1754&q=80" />
      </div>
      <div class="swiper-slide">
        <img alt="black and white dolphin in water" src="https://images.unsplash.com/photo-1607153333879-c174d265f1d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80" />
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="mgl15 mgr15  MAT20">
    <div style="display: flex; align-items: flex-end; margin-bottom: 10px;">
      <div class="font23 bold">{{rstInfo.name}}</div>
      <div class="font16 gray">(1km)</div>
    </div>
    <div class="font16 gray" style="margin-bottom: 10px; margin-top: -11px;">
      {{rstInfo.representativeMenu}} 전문점
    </div>
    <div *ngFor="let menu of renderMainMenu(rstInfo.menus)"
         style="margin-bottom: 10px;">
    </div>
    <div  class="font16">{{rstInfo.roadAddress}}</div>
    <div  class="font16">{{rstInfo.jibunAddress}}</div>
    <div  class="font16" style=" margin-bottom: 10px;">{{rstInfo.englishAddress}}</div>
    <div  class="font16" style="" *ngFor="let review of renderReView(rstInfo.reViews)">
      - {{review.content}}
    </div>
    <div style="margin-bottom: 10px;"></div>
    <div style="margin-top:30px; display: flex; align-items: center; justify-content: space-between;">
      <div class="font20">모임 정보</div>
      <ion-nav-link router-direction="forward" [component]="component" [componentProps]="{uuid: rstInfo.id}">
        <app-rst-button [text]="'생성하기'"></app-rst-button>
      </ion-nav-link>
    </div>
    <app-taste-room-list></app-taste-room-list>
  </div>
</div>
</ion-content>
