<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Gyukatu ramen</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
<div  class="ion-content-scroll-host ion-padding">
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img alt="rhino standing near grass" src="https://images.unsplash.com/flagged/photo-1556983257-71fddc36bc75?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80" />
      </div>
      <div class="swiper-slide">
        <img alt="brown sea turtle in water" src="https://images.unsplash.com/photo-1573551089778-46a7abc39d9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80" />
      </div>
      <div class="swiper-slide">
        <img alt="giraffe sticking its tongue out" src="https://images.unsplash.com/photo-1577114995803-d8ce0e2b4aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1746&q=80" />
      </div>
      <div class="swiper-slide">
        <img alt="two grey elephants on grass plains during sunset" src="https://images.unsplash.com/photo-1564760055775-d63b17a55c44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1754&q=80" />
      </div>
      <div class="swiper-slide">
        <img alt="black and white dolphin in water" src="https://images.unsplash.com/photo-1607153333879-c174d265f1d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80" />
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div style="display: flex; align-items: flex-end">
    <h1>Gyukatu ramen</h1>
    <span style="margin-bottom: 10px;">(1km)</span>
  </div>
  <h2>라면 전문점</h2>
  <p>평균가격: [공식 만찬] 6000엔 / [점심] OOO엔</p>
  <p>도쿄도 토시마구 미나미이케부쿠로 2-47-7선하이츠 이케부쿠로</p>
  <p>- 즉석에서 면을 뽑는것 치곤 탄성이 장난아니에요</p>
  <p>- 얼큰한 국물이 그냥 죽여요</p>
  <p>- 해장으로 최고에요</p>
  <div>
    <h2>맛객 정보</h2>
    <ion-nav-link router-direction="forward" [component]="component">
      <ion-button>생성하기</ion-button>
    </ion-nav-link>
  </div>
  <app-taste-room-list></app-taste-room-list>
</div>
</ion-content>
