<div class="MAT40 MAL20 m-font bold">
  앱설정
</div>
<div class="MAT20" style="border-bottom: 1px solid #F7F7FC;"></div>
<div class="MAT20 MAL20  m-font" style="display: flex; justify-content: space-between">
  이용약관
  <img class="MAR20" src="/assets/image/front-arrow.svg">
</div>
<div class="MAT20" style="border-bottom: 1px solid #F7F7FC;"></div>
<div class="MAT20 MAL20 m-font" style="display: flex; justify-content: space-between">
  문의하기
  <img class="MAR20" src="/assets/image/front-arrow.svg">
</div>
<div class="MAT20" style="border-bottom: 1px solid #F7F7FC;"></div>
<div class="MAT20 MAL20 m-font" style="display: flex; justify-content: space-between">
  로그아웃
  <img class="MAR20" src="/assets/image/front-arrow.svg">
</div>
<div class="MAT20" style="border-bottom: 1px solid #F7F7FC;"></div>
<div class="MAT20 MAL20 m-font" style="display: flex; justify-content: space-between">
  로그인 정보
  <img class="MAR20" src="/assets/image/front-arrow.svg">
</div>
<div class="MAT20" style="border-bottom: 1px solid #F7F7FC;"></div>
<div class="MAT20" style="display: flex; justify-content: space-between">
  <div class="MAL20" style="width: fit-content; color: #9F9CA3; border-bottom: 1px solid #9F9CA3">
    회원탈퇴
  </div>
  <div class="MAR5" style="color: #78737D;">
    v1.0 (최신버전)
  </div>
</div>
