<ion-content [fullscreen]="true">
  <div hidden="hidden">
    <h2>로그인을 통해 소통하여 맛집 탐방을 시작해보세요!!</h2>
    <p>내 취향에 맞는 맛집을 찾고, 회원들 끼리 만나 다양한 음식을 접해볼 수 있습니다.</p>
    <ion-button (click)="onSingup()">지금 시작하기</ion-button>
  </div>
  <div style="width: 100%">
    <div class="font20 bold" style="margin-top: 30px; margin-left: 20px;">
      my
    </div>
    <div style="display: flex; justify-content: center; margin-top: 51px;">
      <ion-icon name="person" style="width: 115px; height: 115px; border: 2px solid gray; border-radius: 100px;"></ion-icon>
    </div>
    <div class="font23 mgl30 bold" style="margin-top: 50px;">
      앙큼한 딸기
    </div>
    <div class="bline" style="margin-top: 30px; margin-bottom: 10px;"></div>
    <div style="display: flex">
      <div class="font16" style="width: 50%; display: flex;
      flex-direction: column; justify-content: center; align-items: center; border-right: 1px solid gray;">
        <div class="bold">신뢰도</div>
        <div style="margin-top: 10px;">0</div>
      </div>
      <div class="font16" style="width: 50%; display: flex; flex-direction: column; justify-content: center; align-items: center">
        <div class="bold">모임 누적</div>
        <div style="margin-top: 10px;">4251 SERVE</div>
      </div>
    </div>
    <div class="bline" style="margin-top: 10px;"></div>
    <div class="font20 bold mgl30" style="margin-top: 30px;">최근 모임 정보</div>
    <div class="bline" style="margin-top: 10px;"></div>
    <div style="display: flex">
      <div class="font16" style="width: 50%; display: flex;
      flex-direction: column; justify-content: center; align-items: center;">
        <div class="bold" style="margin-top: 20px;">장소</div>
        <div class="bold" style="margin-top: 20px;">일시</div>
      </div>
      <div class="font16" style="width: 50%; display: flex; flex-direction: column; justify-content: center; align-items: center">
        <div style="margin-top: 20px;">라세종</div>
        <div style="margin-top: 10px;margin-top: 20px;">2023-02-23</div>
      </div>
    </div>
    <div class="bline" style="margin-top: 20px;"></div>
    <div class="h-button" style="margin-top: 50px;">
      <ion-button style="width: 100%;">정보 수정</ion-button>
    </div>
  </div>
</ion-content>
