
ion-item {
  --background: none;
  --border-color: none;
  --border-style: none;
  --border-width: none;
}
.clr {
  color: #313131;
}
.bld {
  font-weight: bold;
}
.bg-text {
  font-size: 1rem;
}
.md-text {
  font-size: 0.7rem;
}
.sm-text {
  font-size: 0.5rem;
}
