/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}
ion-item {
  --border-color: white;
}
.bookmark {
  --background: white;
  --background-hover: #9ce0be;
  --background-activated: #88f4be;
  --background-focused: #88f4be;

  --color: blue;

  --border-radius: 0;
  --border-color: white;
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: deeppink;

  --padding-top: 10px;
  --padding-bottom: 10px;
}
.swiper {
  width: 600px;
  height: 300px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-between;
  text-align: center;

  height: 300px;
  width: 300px;

  margin: 0 auto;
}
b {
  width: 100%;
}



.cardSwiper {
  width: 240px;
  height: 320px;
}

.cardSwiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.cardSwiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.cardSwiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.cardSwiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.cardSwiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.cardSwiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.cardSwiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.cardSwiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.cardSwiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.cardSwiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.cardSwiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
