<div class="m-font MAT40" style="z-index: 1">
  <div class="bold MAL20">
    마이페이지
  </div>
  <div class="bm-font MAL20 MAT30" style="display: flex">
    <div class="bold">
      맛이좋아
    </div>
    <div>
      님이 저장한 리스트
    </div>
  </div>
  <div class="m-font bold MAL20 MAT30">
    저장한 핫플
  </div>
  <div matRipple
       class="MAL20 MAR20 MAT20" style="height: 120px;
              border-radius: 10px; padding: 10px;
              display: flex; border: 1px solid #DEE1F3"
       *ngFor="let item of items"
      (click)="clickItem(item.id)">
    <img style="width: 100px; height: 100px; border-radius: 10%" src="/assets/image/Rectangle_380.png">
    <div class="MAL10" style="display: flex; flex-direction: column">
      <div class="MAT3" style="display: flex; justify-content: space-between; align-items: center;">
        <div class="m-font bold">{{item.name}}</div>
        <app-like-button style="z-index: 100" [isHeartRegular]="item.liked" (onClick)="clickLike(item.id, $event)"></app-like-button>
      </div>
      <div class="MAT16 r-font">웨이팅 있는 편 지난번에 시간 없어서 못 감ㅠ 담에 경대북문가면 꼭 가야지 저장저장</div>
    </div>
  </div>
</div>
<app-background-info
  style="
    position: absolute;
    width: 100%;
    height: 100%;">
</app-background-info>
