<app-header-info [headerInfoType]="2" (refechClick)="refresh($event)" ></app-header-info>
<div style="width: 100%; height: 50px; display: flex; align-items: center; justify-content: space-between">
  <div *ngIf="isMap === true" class="MAL20 font16 bold">지도에서 보기</div>
  <div *ngIf="isMap === false" class="MAL20 font16 bold">리스트로 보기</div>
  <div class="MAR20" style="display: flex">
    <div (click)="toggle()">
      <img *ngIf="isMap === true" src="/assets/image/Property_select.svg">
      <img *ngIf="isMap === false" src="/assets/image/Property_noselect.svg">
    </div>
    <div (click)="toggle()">
      <img *ngIf="isMap === false" class="MAL5" src="/assets/image/Property_list.svg">
      <img *ngIf="isMap === true" class="MAL5" src="/assets/image/Property_nolist.svg">
    </div>
  </div>
</div>
<app-map-content *ngIf="isMap === true" style="width: 100%; height: 100%;"></app-map-content>
<app-list-content *ngIf="isMap === false" style="width: 100%; height: 100%;"></app-list-content>
