<div style="height: 50px; display: flex; justify-content: space-between;
vertical-align: center; border-bottom: 1px solid #d9d9d9">
  <div style="display: flex; align-items: center;">
    <div class="font16 bold" style="display: flex; margin-right: 5px; margin-left: 10px;">주변 맛집
    </div>
  </div>
</div>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">지도정보</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-map-content></app-map-content>
</ion-content>

