<div style="width: 100%; height: 100%;
            display: flex; align-items: center;
            justify-content: center; flex-direction: column">
  <ion-item style="width: 100%;">
    <ion-label position="floating">이메일</ion-label>
    <ion-input #id placeholder="Enter text"></ion-input>
  </ion-item>
  <ion-item style="width: 100%;">
    <ion-label position="floating">비밀번호</ion-label>
    <ion-input #password placeholder="Enter text"></ion-input>
  </ion-item>
  <div style="width: 50%;">
    <ion-button style="width: 100%;" (click)="onLogin()">로그인</ion-button>
  </div>
  <div style="display: flex">
    <ion-button>카카오</ion-button>
    <ion-button>구글</ion-button>
    <ion-button>페이스북</ion-button>
    <ion-button>트위터</ion-button>
  </div>
  <div style="width: 50%;">
    <ion-button style="width: 100%;" (click)="enterSignUp()">회원가입</ion-button>
  </div>
</div>
