<app-background-info
  style="
    position: absolute;
    width: 100%;
    height: 100%;"></app-background-info>
<div class="m-font MAT40 MAL20">
  <div class="bold">
    마이페이지
  </div>
  <div class="bm-font MAT30" style="display: flex">
    <div class="bold">
      로그인
    </div>
    <div>
      이 필요한 기능입니다.
    </div>
  </div>
  <div class="MAT120 m-font bold" style="width: 100%;">
    <div style="text-align: center">
      지금 가입하고
    </div>
    <div style="text-align: center">
      나만의 핫플 리스트를 만들어 보세요.
    </div>
  </div>
  <div class="l-font MAT60" style="display: flex; flex-direction: column; align-items: center">
    SNS 계정으로 시적하기
    <div class="MAT20" style="display: flex; align-items: center; justify-content: center">
      <div style="display: flex; align-items: center; flex-direction: column;">
        <img src="/assets/image/Group-806.svg">
        <div class="r-font MAT10">카카오</div>
      </div>
      <div class="MAL20" style="display: flex; align-items: center; flex-direction: column;">
        <img src="/assets/image/Group-810.svg">
        <div class="r-font MAT10">구글</div>
      </div>
      <div class="MAL20" style="display: flex; align-items: center; flex-direction: column;">
        <img src="/assets/image/Group-808.svg">
        <div class="r-font MAT10">네이버</div>
      </div>
      <div class="MAL20" style="display: flex; align-items: center; flex-direction: column;">
        <img src="/assets/image/Group-809.svg">
        <div class="r-font MAT10">이메일</div>
      </div>
    </div>
    <div class="r-font MAT40" style="border-bottom: 1px solid black; width: fit-content; font-weight: 500;" >
      로그인에 문제가 있으신가요?
    </div>
  </div>
</div>

<div class="l-font" style="position: absolute; bottom: 30px; width: 100%; font-weight: 500;">
  <div style="text-align: center">
    회원가입 필수 동의 항목인
  </div>
  <div style="text-align: center">
    개인정보처리방침과 서비스 이용약관에 동의한 것으로 간주합니다
  </div>
</div>
