<ion-item style="display: flex; background: #8c8c8c; padding-top: 10px; padding-bottom: 15px; border-bottom: solid">
  <div style="width: 100%; height: 100%; margin-left: 15px;">
    <ion-label>
      <div style="display: flex; justify-content: space-between; align-items: center">
        <div style="display: flex; align-items: center">
          <ion-img class="ion-activatable ripple-parent circle" style="width: 25px; width: 40px;"
                   src="http://localhost:8100/assets/image/logo.png"
                   alt="The Wisconsin State Capitol building in Madison, WI at night">
          </ion-img>
          <h3 class="clr text-bld bg-text" style="margin-left: 10px;">팔팔한 강아지</h3>
        </div>
        <p class="clr">1min 전</p>
      </div>
      <div style="display: flex">
        <p class="clr">안녕하세요!! 반가워요</p>
      </div>
    </ion-label>
  </div>
</ion-item>
<ion-item style="display: flex; background: #8c8c8c; padding-top: 10px; padding-bottom: 15px; border-bottom: solid">
  <div style="width: 100%; height: 100%; margin-left: 15px;">
    <ion-label>
      <div style="display: flex; justify-content: space-between; align-items: center">
        <div style="display: flex; align-items: center">
          <ion-img class="ion-activatable ripple-parent circle" style="width: 25px; width: 40px;"
                   src="http://localhost:8100/assets/image/logo.png"
                   alt="The Wisconsin State Capitol building in Madison, WI at night">
          </ion-img>
          <h3 class="clr text-bld bg-text" style="margin-left: 10px;">팔팔한 강아지</h3>
        </div>
        <p class="clr">1min 전</p>
      </div>
      <div style="display: flex">
        <p class="clr">아니요 안반가워요</p>
      </div>
    </ion-label>
  </div>
</ion-item>
<ion-item>
  <ion-input></ion-input>
  <ion-button>전송</ion-button>
</ion-item>
