<ion-item style="display: flex; height: 50px; margin-top: 20px; margin-bottom: 15px;">
  <div style="width: 50px; height: 50px;">
    <ion-img class="ion-activatable ripple-parent circle" style="width: 100%; height: 100%; border: 1px solid gray; border-radius: 50px;"
             src="http://localhost:8100/assets/image/logo.png"
             alt="The Wisconsin State Capitol building in Madison, WI at night">
    </ion-img>
  </div>
  <div style="display: flex; flex-direction: column">
    <div style="margin-left: 15px; margin-bottom: 9px; margin-top:1px; display: flex; align-items: center">
      <div class="clr font16 bold">팔팔한 강아지</div>
      <div class="clr font13 chat-meta" style="margin-left: 10px; background: #3dc2ff">{{tasteRoom.meetPaymentType}}</div>
      <div class="clr font13 chat-meta" style="margin-left: 10px; background: #6370ff">{{tasteRoom.attendantMembers.length}}/{{(tasteRoom.peopleNum)}}</div>
      <div class="clr font13" style="margin-left: 10px;">{{getBeforeDate(tasteRoom.createDate)}}</div>
    </div>
    <div style="margin-left: 15px; margin-bottom: 1px; display: flex; align-items: center">
      <div class="clr font13 chat-meta" style="background: #42d77d">{{setRecruit(tasteRoom.attendantMembers.length, tasteRoom.peopleNum)}}</div>
      <div class="clr font16" style="margin-left: 10px;">{{tasteRoom.content}}</div>
    </div>
  </div>
</ion-item>

<!--<div style="width: 100%; height: 100%; margin-left: 15px;">-->

<!--  <ion-label>-->
<!--    <div style="display: flex; justify-content: space-between; align-items: center">-->


<!--    </div>-->
<!--    <div style="display: flex">-->
<!--      <p class="clr">{{tasteRoom.content}}</p>-->
<!--    </div>-->
<!--    <div style="display: flex; justify-content: flex-end">-->
<!--      <p class="clr" style="margin-right: 10px; background: #3dc2ff">{{tasteRoom.meetPaymentType}}</p>-->
<!--      <p class="clr" style="margin-right: 10px; background: #42d77d">{{setRecruit(tasteRoom.attendantMembers.length, tasteRoom.peopleNum)}}</p>-->
<!--      <p class="clr" style="margin-right: 10px; background: #6370ff">{{tasteRoom.attendantMembers.length}}/{{(tasteRoom.peopleNum)}}</p>-->
<!--    </div>-->
<!--  </ion-label>-->
<!--</div>-->
