<ion-tabs>
  <ion-tab-bar slot="bottom" style="height: 100px;">
    <ion-tab-button class="l-font font14" tab="tab1">
      <i style="font-size: 24px; margin-bottom: 10px;" class="fa-solid fa-home"></i>
      홈
    </ion-tab-button>
    <ion-tab-button class="l-font font14" tab="tab2">
      <i style="font-size: 24px; margin-bottom: 10px;" class="fa-solid fa-location-dot"></i>
      지도
    </ion-tab-button>
    <ion-tab-button class="l-font font14" tab="tab3">
      <i style="font-size: 24px; margin-bottom: 10px;" class="fa-solid fa-user"></i>
      마이
    </ion-tab-button>
    <ion-tab-button class="l-font font14" tab="tab4">
      <i style="font-size: 24px; margin-bottom: 10px;" class="fa-solid fa-gear"></i>
      설정
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
