<ion-tabs>
  <ion-tab-bar slot="bottom" style="height: 100px;">
    <ion-tab-button tab="tab1">
      <i style="font-size: 20px;" class="fa-solid fa-utensils"></i>
      홈
    </ion-tab-button>
    <ion-tab-button tab="tab2">
      <i style="font-size: 20px;" class="fa-solid fa-location-dot"></i>
      지도
    </ion-tab-button>
    <ion-tab-button tab="tab3">
      <i style="font-size: 20px;" class="fa-regular fa-comments"></i>
      마이
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <i style="font-size: 20px;" class="fa-regular fa-user"></i>
      설정
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
