<div style="height: 40px; display: flex; justify-content: space-between;
vertical-align: center; background: black; padding: 10px; align-items: center; ">
  <div class="font14" style="display: flex; align-items: center">
    <div style="width: 20px; height: 20px;">
      <img src="/assets/image/mdi_map-marker-white.svg">
    </div>
    <div class="mgl5 l-font" style="color: white;">{{myLocation}} 근처 기준</div>
  </div>
  <div style="width: 20px; height: 20px;" style="display: flex; align-items: center;" (click)="refresh()">
    <img src="/assets/image/system-uicons_reset.svg">
  </div>
</div>
